{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}

{% block page_title %}
Our Blog Home Page
{% endblock %}

{% block body_content %}

<section class="hero">

    <header class="hero-header">
        <h1>Welcome to My Webpage</h1>
        <h2>Python Blogs & Learning Hub</h2>


    </header>

</section>

<!-- Featured Posts -->
<section class="featured-posts">

    <h2>Featured Posts</h2>

    <ul>
        {% for blog in l_blogs %}
            {% include 'blogs/includes/posts.html' with blog=blog %}
        {% endfor %}
    </ul>

</section>

{% endblock %}