{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}My Blog{% endblock %}</title>
     
    <link rel = "stylesheet" href="{% static 'blogs/style.css'  %}">

  {% block css_files %}{% endblock %}
</head>
<body>
    <header>
    
        <h1><a href="{% url 'home' %}">Home page</a></h1>
        <nav>
            <a href = "{% url 'allposts' %}">All posts</a>

        </nav>


</header>


    {% block body_content %}

    {% endblock %}
</body>
</html>